{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<div class="d-flex flex-row p-1">
    <div class="m-1">
        <button class="btn btn-primary" id="refreshMoviesBtn">Refresh</button>
        <ul class="m-0 mt-1 p-0" id="movies"></ul>
    </div>
    <div class="m-1 form-group border p-1" id="movieForm">
        <p class="">Movie form</p>
        <input id="movieId" type="hidden">
        <label for="movieTitle">Title:</label>
        <input class="form-control mb-1" id="movieTitle">
        <label for="movieDescription">Description:</label>
        <input class="form-control mb-1" id="movieDescription">
        <button class="btn btn-primary mt-2" id="movieFormBtn" onclick="formBtnHandler(this)">create</button>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ asset('js/elements/MovieRow.js') }}" ></script>
<script src="{{ asset('js/app.js') }}" ></script>
{% endblock %}